@charset "utf-8";

* { margin:0; padding:0;}

html {
  min-width: 966px;
  background: #f9f9f9;
}

body {
  font: 11px/1.5 Tahoma, Helvetica, Arial, sans-serif;
  color:#6f6f6f;
}

a:link,a:active,a:visited {
  color: #096CCA;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img { 
  border: none;
}
